{% if site.github_username %}
<div id="gitalk-container"></div>     <script type="text/javascript">
    var gitalk = new Gitalk({

        // gitalk's main params
		clientID: `{{ site.gitalk_clientid }}`,
		clientSecret: `{{ site.gitalk_clientsecret }}`,
		repo: `{{ site.gitalk_repo }}`,
		owner: '{{ site.github_username }}',
		admin: ['{{ site.github_username }}'],
		id: location.pathname,
		distractionFreeMode: true 
    });
    gitalk.render('gitalk-container');
</script> 

<noscript>Please enable JavaScript to view the <a href="https://gitalk.github.io/">comments powered by Gitalk.</a></noscript>
{% endif %}
